/*!---------------------------------------------------
 * SASS [Syntactically Awesome Stylesheets] for BioD3®
 * ---------------------------------------------------
 * @Selective Steve [v3.4.15]
 * @author  : Prabhat Kumar
 * @date    : 01-July-2015
 */
// Variables
$font-stack:  "Helvetica", sans-serif;
$zero:        0%;
$fifty:      50%;
$hundred:   100%;
