/*!---------------------------------------------------
 * SASS [Syntactically Awesome Stylesheets] for BioD3®
 * ---------------------------------------------------
 * @Selective Steve [v3.4.15]
 * @author  : Prabhat Kumar
 * @date    : 01-July-2015
 */
// Variables
$font-stack:  "Helvetica", sans-serif;
$zero:        0%;
$five:        5%;
$ten:        10%;
$twenty:     20%;
$thirty:     30%;
$forty:      40%;
$fifty:      50%;
$seventy:    70%;
$hundred:   100%;
